<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Andreas Kollaros">
        <meta name="generator" content="Hugo 0.88.1">
        <title>Larium Skeleton App</title>

        <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
        <style>
        .footer {background-color: #f5f5f5;}
        .footer span {font-size: 0.8em;}
        </style>
    </head>
    <body class="d-flex flex-column h-100">

        <main role="main" class="flex-shrink-0">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Larium skeleton app</h1>
                    <p class="lead">Bootstrap psr-15 php framework with docker support.</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <code>
                            1. Edit .env file according to your needs.
                        </code>
                        <br />
                        <code>
                            2. Create a directory inside the <code>src/</code> directory with your application name.
                        </code>
                        <br />
                        <code>
                            3. Start coding.
                        </code>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">&copy; 2022 Larium.net</span>
            </div>
        </footer>
    </body>
</html>
